.app-container {
  min-height: 100%;

  background-color: whitesmoke;
}

.row {
  padding: 5px;
  max-width: 30%;

  margin-left: 35%;
  margin-top: 15%;

  border: 1px solid #3f51b5;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.603);
}
/* input {
  height: 30px;
  font-size: small;
} */
#btn {
  text-align: right;
}
/* button {
  font-size: small;
  height: 30px;
  width: 50px;
} */
#remember {
  color: black
  /* font-size: small; */
}

h3 {
  text-align: center;
  color: black
}
